body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input 
{
    font-family: helvetica,verdana,arial,sans-serif;
}
body 
{
    background: url(textture-noise.png);
    overflow: hidden;
    margin: 0;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica;
}

#wrapper
{
    width: 100%;
    margin: 0 auto;
}

#poemWrapper
{
    width: 60%;
    float: left;
    margin: 0 auto;
}

#link
{
    width: 100%;
    float: bottom;
}

#poem
{
    width: 50%;
    float: left;
}

#rate
{
    width: 50%;
}

#topHighest
{
    text-align: center;
    float: left;
    padding: 10px;
}

#topRecent
{
    text-align: center;
    float: left;
    padding: 10px;
}
.right
{
    width: 40%;
    float:right;
}
#rating
{
    visibility: hidden;
}
#halfstarwrapper
{
    position:relative;
    height: 1px;
    width: 1px;
}
#halfstar
{
    position:relative;
}
